{% extends 'base.html' %}

{% block title %} | Sənədlər {% endblock  %}

{% block content %}
{% load static %}

<main id="main" class="main">

   
      <div class="pagetitle">
        {% for document in docs %}
        {% if request.path == document.get_url %}
          <h1>{{ document.document_type }}</h1>
        {% endif %}
        {% endfor %}
      </div><!-- End Page Title -->
    <div class="row">
      <div class="col-lg-6">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Əsas səhifə</a></li>
            {% for document in docs %}
            {% if request.path == document.get_url %}
            <li class="breadcrumb-item active">{{ document.document_type }}</li>
            {% endif %}
            {% endfor %}
          </ol>
        </nav>
      </div>
    
      <div class="col-lg-6">
        <p class="text-muted small" style="text-align: right;">Sənəd sayı: <span style="font-weight: 700;">{{ documents_count }}</span></p>
      </div>
    </div>

    <section class="section">
      <div class="row">

        {% if documents %}
          <div class="card">
          <!-- Table with hoverable rows -->
                <table class="table table-hover">
                
                  <thead>
                    <tr>
                      <th scope="col">Sənəd #</th>
                      <th scope="col">Sənədin Adı</th>
                      <th scope="col">Struktur bölməsi</th>
                      <th scope="col">Təsdiq tarixi</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                      {% for document in documents %}
                        <tr>
                          <td scope="row">{{ document.document_id }}</td>
                          <td><a href="{{ document.document_file.url }}#toolbar=0&navpanes=0&scrollbar=0">{{ document.document_name }}</a></td>
                          <td>{{ document.department }}</td>
                          <td>{{ document.document_date }}</td>
                        </tr>
                      {% endfor %}
                  </tbody>
                  
                </table>
                <!-- End Table with hoverable rows -->
          </div>
        {% endif %}
      </div>
    </section>

    <!-- Pagination with icons -->
              <nav aria-label="Page navigation example">
                {% if documents.has_other_pages %}
                  <ul class="pagination justify-content-center">
                    {% if documents.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ documents.previous_page_number}}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                    {% endif %}

                    {% for i in documents.paginator.page_range %}
                      {% if documents.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    
                    {% if documents.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ documents.next_page_number}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                {% endif %}
              </nav><!-- End Pagination with icons -->

  </main><!-- End #main -->

{% endblock  %}