{% extends 'base.html' %}

{% block title %} | Axtarış {% endblock  %}

{% block content %}
{% load static %}

<main id="main" class="main">

   
      <div class="pagetitle">
        <h1>Sənəd axtarışı</h1>
      </div><!-- End Page Title -->
    <div class="row">
      <div class="col-lg-6">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Əsas səhifə</a></li>
            <li class="breadcrumb-item active">Ətraflı axtarış</li>

          </ol>
        </nav>
      </div>
    
      <div class="col-lg-6">
        <p class="text-muted small" style="text-align: right;">Sənəd sayı: <span style="font-weight: 700;">
          {% if documents %}
          {{ documents_count }}
          {% else %}
          0
          {% endif %}
        </span></p>
          
          
      </div>
    </div>

    <div class="card-body">
        
          <form class="search-form d-flex align-items-center" method="GET" action='{% url 'search' %}'>
            <div class="row gy-2">

              <div class="col-md-6">
                <input type="text" name="keyword"  class="form-control" placeholder="Açar sözünü daxil edin" title="Açar sözünü daxil edin">
              </div>
        
              <div class="col-md-6">
                <select class="form-select" name='department'>
                  <option disabled="disabled" selected="selected">Struktur bölməsini seçin</option>
                  {% for department in department_search %}
                  <option>{{ department }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-6">
                <select class="form-select" name='document_type'>
                  <option disabled="disabled" selected="selected">Sənəd tipini seçin</option>
                  {% for document_type in document_type_search %}
                  <option>{{ document_type }}</option>
                  {% endfor %}
                </select>
              </div>
          
              <div class="col-md-6 text-center">
                <button type="submit" class="btn btn-primary form-control">Axtar</button>
              </div>

            </div>
          </form>
        

    </div>

    <section class="section">
      <div class="row">

        {% if documents %}
        <div class="card">
        <!-- Table with hoverable rows -->
              <table class="table table-hover">
               
                <thead>
                  <tr>
                    <th scope="col">Sənəd tipi</th>
                    <th scope="col">Sənəd #</th>
                    <th scope="col">Sənədin Adı</th>
                    <th scope="col">Struktur bölməsi</th>
                    <th scope="col">Təsdiq tarixi</th>
                  </tr>
                </thead>
                
                <tbody>
                    {% for document in documents %}
                      <tr>
                        <td>{{ document.document_type }}</td>
                        <td>{{ document.document_id }}</td>
                        <td><a href="{{ document.document_file.url }}#toolbar=0&navpanes=0&scrollbar=0">{{ document.document_name }}</a></td>
                        <td>{{ document.department }}</td>
                        <td>{{ document.document_date }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
                
              </table>
              <!-- End Table with hoverable rows -->
        </div>
        {% else %}
        <h7 style="text-align: center;">Daxil etdiyiniz göstəricilərə uyğun sənəd tapılmamışdır</h7>
        {% endif %}
      </div>
    </section>

    <!-- Pagination with icons -->
              <nav aria-label="Page navigation example">
                {% if documents.has_other_pages %}
                  <ul class="pagination justify-content-center">
                    {% if documents.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ documents.previous_page_number}}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                    {% endif %}

                    {% for i in documents.paginator.page_range %}
                      {% if documents.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    
                    {% if documents.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ documents.next_page_number}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                {% endif %}
              </nav><!-- End Pagination with icons -->

  </main><!-- End #main -->

{% endblock  %}