{% load static %}

 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a 
        {% if '/' == request.path %}
        class="nav-link"
        {% else %}
        class="nav-link collapsed"
        {% endif %}
        href="{% url 'home' %}">
          <i class="bi bi-grid"></i>
          <span>Əsas səhifə</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a 
        {% if 'search' in request.path %}
        class="nav-link"
        {% else %}
        class="nav-link collapsed"
        {% endif %}
        href="{% url 'search' %}">
          <i class="bi bi-search"></i>
          <span>Ətraflı axtarış</span>
        </a>
      </li><!-- End Dashboard Nav -->


        <span style="font-weight: 700;">KİS sənədləri</span>

          <li class="nav-item">
            {% for document in docs %}
            <a
            {% if request.path == document.get_url %}
              class="nav-link"
            {% else %}
              class="nav-link collapsed"
            {% endif %}
            href="{{ document.get_url }}">
              <i class="bi bi-file-earmark"></i>
              <span>{{ document.document_type }}</span>
            </a>
            {% endfor %}
          </li><!-- End Blank Page Nav -->
      


    </ul>

  </aside><!-- End Sidebar-->