{% extends 'base.html' %}


{% block content %}

{% load static %}


  <main id="main" class="main">
    <section class="section">
      <div class="row">

        <div class="col-lg-6">
          <div class="pagetitle">
            <h1>Ümumi məlumatlar</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item active">Əsas səhifə</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->
       </div>

        <div class="col-lg-6">
          {% include 'includes/messages.html' %}
        </div>

      </div>
    </section>
    <section class="section">
      <div class="row">
        <div class="col-lg-6">
                  
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tez-tez istifadə olunan sənədlər</span></h5>
              <div class="activity">
                {% for i in featured_kis_documents %}
                  <div class="activity-item d-flex">
                    <div class="activity-content" style="padding-left: 10px">
                      <h5 style="font-size: 15px;"><span>{{ i.document_type}} | </span><a href="{{ i.kis_document_file.url }}">{{ i.kis_document_name }}</a></h5>
                    </div>
                  </div><!-- End activity item-->
                {% endfor %}
              </div>
            </div>
          </div><!-- End Recent Activity -->
        
        </div>

        <div class="col-lg-6">
      <!-- Revenue Card -->
          <div class="card info-card revenue-card">

            <div class="card-body">
              <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}<span> | Tarixçə</span></h5>
                <div class="ps-3">
                  <span class="text-muted small pt-2 ps-1">Sizin, sistemdə son aktivlik </span><span class="text-success small pt-1 fw-bold">{{ user.last_login | date:"SHORT_DATE_FORMAT" }}</span><span class="text-muted small pt-2 ps-1">tarixində olub.</span>
                </div>
              </div>
          </div>
      <!-- End Revenue Card -->

          <!-- Recent Activity -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Son əlavə olunan sənədlər <span>| Tarixçə</span></h5>
              <div class="activity">
                {% for last_kis_document in last_kis_documents %}
                  <div class="activity-item d-flex">
                    <div class="activity-content" style="padding-left: 10px">
                      <h5 style="font-size: 15px;"><span>{{ last_kis_document.created_date | date:"SHORT_DATE_FORMAT" }} | {{ last_kis_document.document_type}} | </span><a href="{{ last_kis_document.kis_document_file.url }}">{{ last_kis_document.kis_document_name }}</a></h5>
                    </div>
                  </div><!-- End activity item-->
                {% endfor %}
              </div>
            </div>
          </div><!-- End Recent Activity -->
        </div>

      </div>
    </section>

  </main><!-- End #main -->


  {% endblock  %}